<button type="button" class="button" id="fa_quote_btn">Email This Cart As Quote</button>
<dialog id="fa_quote_modal">
  <form method="dialog" id="fa_quote_form">
      <header>
        <h3>
          Send Cart As Quote 
        </h3>
        <a id="fa_quote_modal_close" href="#">
          X
        </a>
      </header>
      <p>Please enter your email address:</p>
      <input style="width:100%;margin-bottom: 10px;border: 1px solid black;height: auto;padding: 1rem;" class="field__input" type="email" name="email" id="fa_quote_email" placeholder="Email Address" required>
      <div>
        <input type="submit" class="button" id="fa_quote_submit" value="Send Quote">
        <div id="fa_quote_loading" class="loader"></div>
      </div>
    </form>
    <div id="fa_quote_message"></div>
</dialog>
<script src="{{ 'fa-quote.js' | asset_url }}" defer="defer"></script>
<style>
dialog::backdrop {
  background-color: rgba(250, 251, 253, 0.9);
}
dialog {
  box-shadow: 0 6px 24px 0 rgba(18, 43, 70, 0.1);
  width: 800px;
  max-width: 90%;
}
div.loader {
  width: 20px;
  height: 20px;
  border: 3px solid rgb(var(--fa-orange));
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
