<button type="button" class="button" id="fa_quote_btn">Email This Cart As Quote</button>
<dialog id="fa_quote_modal">
  <form method="dialog" id="fa_quote_form">
      <header>
        <h3>
          Send Cart As Quote 
        </h3>
        <a id="fa_quote_modal_close" href="#">
          X
        </a>
      </header>
      <p>Please enter your email address:</p>
      <input style="width:100%; margin-bottom: 10px" type="email" name="email" id="fa_quote_email" placeholder="Email Address" required>
      <div>
        <input type="submit" id="fa_quote_submit" value="Claim Profile">
        <div id="fa_quote_loading" class="loader"></div>
      </div>
    </form>
    <div id="fa_quote_message"></div>
</dialog>
<script src="{{ 'fa-quote.js' | asset_url }}" defer="defer"></script>
<style>
dialog::backdrop {
  background-color: rgba(250, 251, 253, 0.9);
}
div.loader {
  width: 20px;
  height: 20px;
  border: 3px solid rgb(var(--fa-orange));
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
</style>
