<button type="button" class="button" id="fa_quote_btn">Email This Cart As Quote</button>
<dialog id="fa_quote_modal">
  <form method="dialog" id="fa_quote_form">
      <header>
        <h3 class="h2">
          Email Cart As Quote 
        </h3>
        <a id="fa_quote_modal_close" href="#">
          X
        </a>
      </header>
      <p>Please enter your email address:</p>
      <input class="field__input" type="email" name="email" id="fa_quote_email" placeholder="Email Address" required>
      <div>
        <input type="submit" class="button" id="fa_quote_submit" value="Send Quote">
        <div id="fa_quote_loading" class="loader"></div>
      </div>
    </form>
    <div id="fa_quote_message"></div>
</dialog>
<script src="{{ 'fa-quote.js' | asset_url }}" defer="defer"></script>
<style>
dialog::backdrop {
  background-color: rgba(250, 251, 253, 0.9);
}
dialog {
  box-shadow: 0 6px 24px 0 rgba(18, 43, 70, 0.1);
  width: 800px;
  max-width: 90%;
  border: 0;
  background-color: rgb(var(--fa-orange));
  color: white;
  padding: 4rem 2rem;
}
dialog .loader {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

dialog header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
dialog header h3, dialog header a{
    color: white !important;
    margin: 0;
}
dialog header a{
    text-decoration: none;
}

dialog input[type="email"]{
    width:100%;
  margin-bottom: 10px !important;
  height: auto;
  padding: 1rem !important;
}

#fa_quote_message > *{
    margin-top: 2rem;
    padding: 10px;
    display:inline-block;
}
#fa_quote_message .success{
    background-color: #dfffdf;
    color: rgb(var(--fa-green));
}
#fa_quote_message .error{
    background-color: #ffd8d8;
    color: red;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
