<div class="page-width">
  <div class="grid grid--1-col grid--2-col-tablet">
    <div class="grid__item">
      {{ section.settings.content }}
    </div>
    <div class="grid__item scroll-trigger animate--slide-in">
      {{ section.settings.content }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Case Study Template",
    "settings": [{
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }],
    "presets": [{
      "name": "Case Study Template"
    }]
  }
{% endschema %}