<div class="page-width">

  <h2 class="h2">{{ section.settings.title }}</h2>
  {% for metaobject in shop.metaobjects.case_studies.values %}
    {% assign check = false %}
    {% if section.settings.category == '' %}
      {% assign check = true %}
    {% elsif section.settings.category != '' and metaobject.category == section.settings.category %}
      {% assign check = true %}
    {% endif %}
  
    {% if check == true %}
      <ul class="grid grid--1-col grid--3-col-tablet">
        <li class="grid_item">
          {{ metaobject.gallery.value.first | image_url: width: 1000 | image_tag: alt: metaobject.title, class: 'scroll-trigger animate--slide-in'  }}
          {{ metaobject.title | link_to: metaobject.system.url }}
        </li>
      </ul>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Case Studies List",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "category",
        "label": "Category"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Section Padding Top",
        "default": 60,
        "min": 40,
        "max": 200,
        "unit": "px",
        "step": 5
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Section Padding Bottom",
        "default": 60,
        "min": 40,
        "max": 200,
        "unit": "px",
        "step": 5
      }
    ],
    "presets": [{
      "name": "Case Studies List"
    }]
  }
{% endschema %}