<div class="page-width" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px">
  <div class="grid grid--1-col grid--2-col-tablet">
    <div class="grid__item casestudy-media">
      {% for image in metaobject.gallery.value %}
        {{ image | image_url: width: 1000 | image_tag: alt: metaobject.title, class: 'scroll-trigger animate--slide-in'  }}
      {% endfor %}
    </div>
    <div class="grid__item scroll-trigger animate--slide-in column-sticky">
      {{ metaobject.content | metafield_tag }}
    </div>
  </div>
</div>
<style>
  .casestudy-media img{
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem
  }
  /* @media screen and (min-width: 750px) {
    .column-sticky {
        display: block;
        position: sticky;
        top: 3rem;
        z-index: 2;
      align-self: start;
    }
  } */
</style>

{% schema %}
  {
    "name": "Case Study Template",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "label": "Section Padding Top",
        "default": 60,
        "min": 40,
        "max": 200,
        "unit": "px",
        "step": 5
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Section Padding Bottom",
        "default": 60,
        "min": 40,
        "max": 200,
        "unit": "px",
        "step": 5
      }
    ],
    "presets": [{
      "name": "Case Study Template"
    }]
  }
{% endschema %}