<div style="background: red">
  <div class="page-width">
    {% liquid 
       assign title = page.title
        if section.settings.title != ''
          assign title = section.settings.title
        endif
    %}
      <h1>{{ title }}</h1>
  </div>
</div>

{% schema %}
  {
    "name": "Page Header Custom",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "header_image",
        "label": "Custom Image"
      }
    ]
  }
{% endschema %}