<div style="background: red">
  <div class="page-width">
    {% liquid 
       assign title = page.title
        if section.settings.title != ''
          assign title = section.settings.title
        endif
    %}
      <h1>{{ title }} {{ section.settings.header_image }}</h1>
  </div>
</div>

{% schema %}
  {
    "name": "Page Header Custom",
    "tag": "section",
    "class": "section section-fa-page-header",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "t:sections.collection-list.settings.title.label"
      },
      {
        "type": "image_picker",
        "id": "header_image",
        "label": "Custom Image"
      }
    ],
    "presets": [{
      "name": "Page Header Custom"
    }]
  }
{% endschema %}