#customNewsletter {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}
.customNewsletter__container {
  width: 90%;
  background-color: #ffffff;
  position: relative;
  border: 1px solid black;
  max-width: 600px;
  border-radius: 8px;
  padding: 0 1.5rem 6rem;
}
#customNewsletter__close {
  padding-top: 1rem;
  padding-bottom: 3rem;
  display: block;
  margin-left: auto;
  margin-right: 1rem;
  font-weight: bold;
  border: transparent;
  background-color: transparent;
  font-size: 4vw;
  color: black;
  cursor: pointer;
}
.customNewsletter__logo {
  display: flex;
  justify-content: center;
}
.customNewsletter__logo img {
  max-width: 90%;
  margin: 0 auto;
  border-radius: 8px;
}
.customNewsletter__text {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.custom__newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  #customNewsletter__close {
    font-size: 2rem;
  }
}